.App {
  text-align: center;
}

.activity {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 0px;
  text-align: center;
  /* background-color: aliceblue; */
  background-color: rgba(0,0,0,0.2); 
  /* color:white; */
  /* font-size: 150%; */
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 50px;
  margin: 100px;
  /* text-align: center; */
}

.card::after{
  opacity: 0.2;
}

.center {
  text-align: center;
}

.follow-button {
  display: inline-block;
  margin: 0
}

.home-scroll{
  height: 81.5vh;
  overflow: scroll;
}

.location-cards {
  height: 77vh;
  overflow: scroll;
}

.location-description {
  height: 75vh;
  overflow: scroll;
}

.profile-cards {
  height: 75vh;
  overflow: scroll;
}

.location {
  height: 69.5vh;
  overflow-y: scroll;
}

.location-no-form {
  height: 60vh;
  /* max-height: 65vh; */
  /* min-height: 65vh; */
  text-align: center;
  overflow-y: scroll;
}

.home-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 50px;
  margin: 100px;
  text-align: center;
  /* background-color: aliceblue; */
  background-color: rgba(0,0,0,0.2); 
  color:white;
  font-size: 200%;
}

.relationship-cards {
  text-align: left;
}

h1 {
  color: white;
}