.App {
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 50px;
  margin: 100px;
  text-align: center;
}

.card::after{
  opacity: 0.2;
}

.center{
  text-align: center;
}

.location-cards {
    height: 77vh;
    overflow: scroll;
}

.profile-cards {
  height: 75vh;
  overflow: scroll;
}

.location {
  height: 67vh;
  overflow-y: scroll;
}

.location-no-form {
  height: 65vh;
  /* max-height: 65vh; */
  /* min-height: 65vh; */
  overflow-y: scroll;
}

.home-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 50px;
  margin: 100px;
  text-align: center;
  /* background-color: aliceblue; */
  background-color: rgba(0,0,0,0.2); 
  color:white;
  font-size: 200%;
}

h1 {
  color: white;
}