.App {
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 50px;
  margin: 100px;
  text-align: center;
}

.card::after{
  opacity: 0.2;
}

.center{
  text-align: center;
}

.location-cards {
    height: 77vh;
    /* width: 50vw; */
    overflow-y: scroll;
}

.profile-cards {
  height: 75vh;
  /* width: 50vw; */
  overflow-y: scroll;
}

.location {
  height: 67vh;
  /* width: 50vw; */
  overflow-y: scroll;
}

.location-no-form {
  height: 65vh;
  /* width: 50vw; */
  overflow-y: scroll;
}

h1 {
  color: white;
}